<!DOCTYPE html>
<html>
  <head>
    <title>CSC 620 Final Project Library System</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
        
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <meta name="description" content="">
        <meta name="keywords" content="Hospital System">
            <!-- bootstrap 3.0.2 -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type = "text/css" />
            <!-- font Awesome -->
        

        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700)' rel='stylesheet' type='text/css'>
            <!-- Theme style -->
        <link href="/assets/style.css" rel="stylesheet" type="text/css" />
            

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        

  </head>

  <body class="skin-blue">

        <%= yield %>

        
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- <script src="/assets/app.js" type="text/javascript"></script>
 -->
    </body>

</html>




